<!--
  TAREA TA06 – DetallePage
  Muestra el detalle del elemento seleccionado en HomePage.
  Usa signals para gestionar el estado de forma reactiva.
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ elementoDetalle()?.nombre }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (elementoDetalle()) {
    <ion-list>
      <ion-item>
        <ion-label>
          <!-- TODO TA06 – Pipes:
               | titlecase  →  capitaliza la primera letra de cada palabra
               elementoDetalle()! usa el operador non-null assertion (!) porque
               dentro del @if sabemos que el signal tiene valor. -->
          <h2>{{ elementoDetalle()!.nombre}}</h2>
          <p>{{ elementoDetalle()!.descripcion }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <!-- TODO TA06 – | uppercase convierte el texto a mayúsculas -->
        <ion-label>Categoría: {{ elementoDetalle()!.categoria}}</ion-label>
      </ion-item>
    </ion-list>
  } @else {
    <ion-item>
      <ion-label>No se ha seleccionado ningún elemento.</ion-label>
    </ion-item>
  }

</ion-content>
